Flask
Flask_Cors
flask_session
joblib
numpy
pandas
plotly
pymongo
python-dotenv
python_jose
redis
Requests
scikit_learn
spacy
vaderSentiment
waitress
langchain-text-splitters
openai
numpy
tabulate
pinecone
logging
psutil
