Flask
Flask_Cors
flask_session
joblib
matplotlib
nltk
numpy
pandas
plotly
pymongo
python-dotenv
python_jose
redis
Requests
scikit_learn
seaborn
spacy
tensorflow
vaderSentiment
vaderSentiment
waitress
