.bottom-section {
    padding: 0;
    margin-top: 1px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%
  } 


  .BackgroundImage,
.BackgroundImage * {
  box-sizing: border-box
}

.BackgroundImage {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin-left: 12px;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50%;

}


.PageTwo {
    width: 100vw;
    height: 110vh;
    flex: 1;
    padding-bottom: 100px;
  }
  

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 8vw;
  }


  .SecondHeader {
    text-align: left;
    font-family: "DM Sans";
    font-size: 65px;
    margin-left: 100px;
    margin-bottom: 25px;
    background: linear-gradient(to right, #8449d1 0%, #FFFFFF 100%);
    width: 59.5vh;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block
  }






  .package,
  .package * {
    box-sizing: content-box
  }
  
  .package {
    margin-left: 100px;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    font-family: "DM Sans";
    font-size: 19px;
    margin-bottom: 12px;
    margin-top: 0px
  }
  
  .package p{
    font-size: 17px;
  }

  

.section {
    padding: 20px;
    width: 48%;
  }
  
  .left {
    text-align: left
  }
  
  .right {
    text-align: left
  }
  
  .image-gap {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-left: 2vh;
  }
  
  .left-gap {
    order: 1
  }
  
  
  .ma-la{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-left: 2vh;
  
  }
  
  .la-ma{
    order : 1;
  }
  .right-gap {
    order: 2
  }
  
  section img {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
    border-radius: 8px
  }
  
  .left {
    order: 1
  }
  
  .right {
    order: 2
  }
  
  .left-gap {
    order: 2
  }
  
  .right-gap {
    order: 1
  }
  
  
  
  

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    overflow: hidden;
    height: 1.9rem;
    font-family: "DM Sans";
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-top: 28px;
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer

}


#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

::selection {
    background-color: #e56478;
}

.BoxOne {
    font-family: 'DM Sans', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 65px;
    background: linear-gradient(to right, #8449d1 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 20px;
  }
  


  .BoxTwo {
    font-family: 'DM Sans', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 65px;
    background: linear-gradient(to right, #8449d1 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 20px;
    top: 10px;
    width: 1000px;
  }
  



@media (max-width: 768px) {
    .BackgroundImage {
      top: 300px;
      padding-top: 0px;
    }


    .bottom-section {
      margin-top: 0px;
      height: 0px;
    } 


    .footer{
      top: 2000px;
    }


    .row {
      flex-direction: column;
      text-align: center;
    }
  
    .image-gap, .ma-la {
      margin-top: 2rem;
    }
  
    .btn {
      width: 80%;
      margin: 2rem auto 0;
    }
  
    .SecondHeader, .BoxOne, .BoxTwo {
      font-size: 2.6rem;
    }
    .SecondHeader{
      margin-top: 160px;
    }
  
    .section p {
      font-size: 0.95rem;
      line-height: 1.5;
    }

    .section{
      width: 400px;
      padding-left: 1px;
    }

    .btn{
      width: 150px;
      margin-left: 0px;
    }

    .ma-la{
      width: 0%;
    }

    .right-gap{
      order: 2;
    }

    .image-gap{
      width: 90%;
    }
  }