.Btn {
    width: 130px;
    height: 40px;
    justify-content: center;
    font-family: "DM Sans";
    background: linear-gradient(to right, #e95414 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    border: none;
  }
  
  .Btn::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
  }
  
  .Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%, -50%);
    border-radius: 0;
  }
  
  .Btn:active {
    transform: translate(5px, 5px);
    transition-duration: .3s;
  }
  
  /* Desktop nav buttons */
  .nav-buttons {
    display: flex;
    gap: 1rem;
  }
  