body {
    background-color: black;
    color: white;
    font-family: 'Gill Sans MT';
}



html, body, #root{
    margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
}
.default-background{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,  #000000 50%);
    font-family: Arial, sans-serif;
    margin-top: -26px;
}

.special-background {
    background-color: rgb(0, 0, 0);
        color: white;
        font-family: 'Gill Sans MT';
    /* Or any other background you want for the special page */
}



.translucent-box {
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
    /* Black with 50% opacity */
    color: white;
    /* Text color */
    padding: 20px;
    /* Some padding */
    border: 1px solid #000;
    /* Optional border */
    box-sizing: border-box;
    /* Ensure padding and border are included in the element's total width and height */
}

.mg,
.mg * {
    box-sizing: border-box;
}

.mg {
    height: 550px;
    width: auto 0;
    margin-left: 12px;

}

.content,
.content * {
    box-sizing: border-box;
}

.content {
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;

}

.package,
.package * {
    box-sizing: content-box;
}

.package {
    margin-left: 100px;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    font-family: "Gill Sans MT";
    font-size: 19px;
    margin-bottom: 12px;
    margin-top: 0px;

}

.group-17 {
    flex-shrink: 0;
    width: 72px;
    height: 2px;
    position: static;
}

.rectangle-2-1 {
    background: var(--accent, #fbd784);
    width: 72px;
    height: 2px;
    position: absolute;
    left: 45px;
    top: 65px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}

.rectt {
    background: yellow;
    width: 372px;
    height: 2px;
    position: absolute;
    left: 456px;
    top: 900px;
    text-align: center;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
}

.textarea-container {
    display: flex;
    height: 140px;

    position: relative;
    margin-bottom: 10px;
    /* Adjust as needed */
    width: 900px;
    margin-left: 0px;
}

.icon-container {

    cursor: pointer;
    margin-left: 39px;
    margin-right: 0px;
    width: 35px;
    height: 10px;
    color: rgb(87, 78, 78);
}

.fa-angle-down {
    margin-left: 10px;
    margin-top: 45px;
    color: rgb(109, 99, 99);
}

.fa-angle-down:hover{
    color: white;
}

.tooltip {
    position: absolute;
    /* Adjust based on your layout */
    left: 15%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 10;
    font-size: 12px;
    opacity: 0.9;
    visibility: visible;
}

.icon-container .tooltip::after {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    margin-left: 2px;
    margin-top: 12px;
}


.let-s-time-travel-with-transformers {
    color: #ffffff;
    text-align: left;
    font-family: "Gill Sans MT";
    font-size: 55px;
    line-height: 100px;
    font-weight: 700;
    position: relative;
    width: 950px;
    margin-top: 30px;
        font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: linear-gradient(to right,#8449d1 0%, #FFFFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        display: inline-block;
}

.group-7 {
    flex-shrink: 0;
    width: 126px;
    height: 26px;
    position: static;
}

.equipment {
    color: #ffffff;
    text-align: left;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    left: 85px;
    top: 230px;

}

/*Icons CSS*/


.homeDownArrow{
    width: 16px;
    height: 24px;
    left: 15px;
    position: absolute;
    top: 195px;
    color: white;

}


h1 {
    text-align: center;
    font-family: 'Gill Sans MT';
    margin-top: 50px;
    font-size: 45px;
}

.date-input{

    width: 17px;
    border: none;
    resize: none;
    height: 25px;
}
input[type="date"] {
    background-color: rgb(39, 33, 33);
    color: white;
    scroll-padding-block: 0px;
}

input[type="date"]:focus{
    outline: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="date"]:hover{
    background-color: rgb(17, 16, 16);
}

.left_button{
    margin-left: 460px;
}

.right_button, .disabled-button{
    margin-left: 500px;
}


.cal_button{
    margin-left: 540px;
}

.box{
    margin-top: 37px;
    background-color: rgb(39, 33, 33);
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
        /* Center vertically */
    width: 40px;
    height: 25px;
    box-shadow:
    0 4px 6px rgba(110, 104, 104, 0.3),
        0 -4px 6px rgba(110, 104, 104, 0.3),
        4px 0 6px rgba(47, 45, 45, 0.3),
        -4px 0 6px rgba(47, 45, 45, 0.3);

}

.box::before{
    transition-duration: 0.3s;
    mix-blend-mode: difference;
}
.box:hover::before{
    transition-duration: 0.3s;
    transform: translate(100%, -50%);
    border-radius: 0;

}

.box:active{
    transform: translate(2px, 2px);
    transition-duration: 0.3s;
}

.disabled-button .box::before {
    transition-duration: 0s;
    /* Disable transition */
    transform: none;
    /* Reset transform */
    border-radius: initial;
    /* Reset border radius */
    mix-blend-mode: normal;
    /* Reset blend mode */
}

.disabled-button:active .box {
    transform: none;
    /* Reset transform */
    transition-duration: 0s;
    /* Disable transition */
}

.left_button, .right_button, .cal_button{
    display: flex;
    background-color: #1e2125;
    outline: none;
    border: none;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
}

.left_button_home {
    left: 460px;
    margin-left: 0px;
    position: absolute;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #1e2125;
    outline: none;
    border: none;
    color: white;
}
.disabled-button{
    display: flex;
        background-color: #1e2125;
        outline: none;
        border: none;
        color: rgb(87, 78, 78);
        padding-left: 0px;
        padding-right: 0px;
        position: absolute;

}

.box:hover{
    background-color: rgb(17, 16, 16);
}

.disabled-button:hover .box{
    background-color: rgb(39, 33, 33);
}

.secondheading {
    text-align: left;
    font-family: 'Gill Sans MT';
    font-size: 65px;
    margin-top: 100px;
    margin-left: 25px;
    margin-bottom: 25px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: linear-gradient(to right, #8449d1 0%, #FFFFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        display: inline-block;
}

#title {

    margin: 0;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #d85720 0%, #d758e0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        display: inline-block;
}

img {
    width: auto 0;
    height: 15px;
    margin-right: 15px;
    margin-left: 35px;
    align-self: center;
}

.container {
    display: flex;
    align-items: center;
    /* Align items vertically centered */
    margin-left: 12px;
    margin-top: 20px;
    padding-bottom: 0;
    padding-top: 14px;
}

.containerrr{
    display: flex;
    align-items: center;
    /* Align items vertically centered */
        margin-left: 12px;
        margin-top: 14px;
        padding-bottom: 0;
        padding-top: 12px;

}
.mamachamamla{
    margin: 0;
        font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: linear-gradient(to right, #b35b36 0%, #FFFFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        display: inline-block;

}
.Btn {
    width: 130px;
    height: 40px;
    justify-content: center;
    background-color: black;
    border: none;
    background: linear-gradient(to right, #e95414 0%, #FFFFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;

}

#btn1 {
    margin-left: 60%;
}


.Btn::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
}

.Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%, -50%);
    border-radius: 0;
}


.Btn:active {
    transform: translate(5px, 5px);
    transition-duration: .3s;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    overflow: hidden;
    height: 1.9rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-top: 28px;
}


#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

::selection {
    background-color: #e56478;
}


/* From Uiverse.io by jeremyssocial */
@keyframes blinkCursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typeAndDelete {

    0%,
    10% {
        width: 0;
    }

    45%,
    55% {
        width: 9.5em;
    }

    /* adjust width based on content */
    90%,
    100% {
        width: 0;
    }
}

.terminal-loader {
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    padding: 1.5em 1em;
    width: 19em;
    height: 9em;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: -590px;
        margin-top: 180px;
}

.terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
}

.terminal-controls {
    float: right;
}

.control {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: #777;
}

.control.close {
    background-color: #e33;
}

.control.minimize {
    background-color: #ee0;
}

.control.maximize {
    background-color: #0b0;
}

.terminal-title {
    float: left;
    line-height: 1.5em;
    color: #eee;
}

.text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green;
    /* Cursor */
    animation: typeAndDelete 4s steps(11) infinite,
        blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
}