body {
    background-image: 'public\istockphoto-1645930993-612x612.jpg';
    color: white;
    font-family: "Gill Sans MT";
}

a {
    text-decoration: none;
    color: white;
}

#day-icon {
    height: 40px;
    margin-top: 30px;
}

.head {
    display: flex;
}

#date-container {
    margin-top: 30px;
    font-size: xx-large;
    color: white;
    font-family: "Gill Sans MT";
    font-weight: bold;
}

img {
    width: auto 0;
    height: 15px;
    margin-right: 15px;
    margin-left: 35px;
}

.scroll-arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 24px;
}

/* Hide the arrow initially */
.hidden {
    display: none;
}

.container {
    align-items: center;
    /* Align items vertically centered */
    margin-left: 12px;
    margin-top: 25px;
    display: flex;
}

/*Icons CSS*/
i {
    width: 16px;
    height: 24px;
    left: 48px;
    top: 35px;
    position: absolute;
    color: white;
}

.scroll-to-bottom{

    position: fixed;
    bottom: 2px;
    left: 50%;
    top: 85%;
    width: 40px;
    /* Adjust as needed */
    height: 40px;
    /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#gear {
    top: 74px;
    color: white;
}


#Chat{
    top: 109px;
    color: white;

}

.data_head{
    margin-left: 20px;
    color: #ffffff;
    text-align: left;
    font-family: "Gill Sans MT";
    font-size: 40px;
    font-weight: 550;
    position: relative;
    margin-top: 25px;
}
.scroll-bottom{
    position: fixed;
        bottom: 2px;
        left: 51.5%;
        top: 87%;
        width: 30px;
        /* Adjust as needed */
        height: 30px;
        /* Adjust as needed */
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s ease;

}

.plotS {
    border-radius: 20px;
    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 35px;
    margin-right: 130px;
    overflow: hidden;
    background-color: #050505;
}


.main_content {
    position: fixed;
    height: 86.3%;
    margin-left: 207px;
    width: 81.5%;
    border-radius: 15px 15px 15px 15px;
    background-color: #1e2125;
    margin-top: 20px;
    overflow-y: auto;
}

#chatinput {
    display: flex;
    align-items: center;
    width: 59%;
    margin-top: 425px;
    margin-left: 175px;
    height: 37px;
    box-shadow:
        0 4px 6px rgba(110, 104, 104, 0.3),
        0 -4px 6px rgba(110, 104, 104, 0.3),
        4px 0 6px rgba(47, 45, 45, 0.3),
        -4px 0 6px rgba(47, 45, 45, 0.3);
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(17, 16, 16);
    color: white;
    outline: none;
    border: none;
    resize: none;
    text-indent: 13px;
    font-size: 16px;
    position: fixed;
}

.version-selector-button {

    margin-left: 50px;
    display: flex;
        background-color: #1e2125;
        outline: none;
        border: none;
        color: white;
        padding-left: 0px;
        padding-right: 0px;
        position: absolute;
}


.versionI, .versionIcon{

    margin-top: 34px;
        background-color: rgb(39, 33, 33);
        display: flex;
        justify-content: center;
        /* Center horizontally */
        align-items: center;
        /* Center vertically */
        box-shadow:
            0 4px 6px rgba(110, 104, 104, 0.3),
            0 -4px 6px rgba(110, 104, 104, 0.3),
            4px 0 6px rgba(47, 45, 45, 0.3),
            -4px 0 6px rgba(47, 45, 45, 0.3);
}


.dropdown{

    position: absolute;
    height: 12px;
    width: 75px;
    border: none;
    outline: none;
    top: 17%;
    left: 10%;
    background-color: rgb(39, 33, 33);
    padding:10px;
    box-shadow:
            0 4px 6px rgba(110, 104, 104, 0.3),
            0 -4px 6px rgba(110, 104, 104, 0.3),
            4px 0 6px rgba(47, 45, 45, 0.3),
            -4px 0 6px rgba(47, 45, 45, 0.3);
}

.versionI{
    width: 85px;
    height: 34px;
}



.versionIcon{
    width: 39px;
    height: 34px;
}
#milf{
    margin-left: 49px;
}


.sidebar {
    position: fixed;
    border-radius: 15px 15px 15px 15px;
    width: 200px;
    height: 86.3%;
    background-color: #1e2125;
    margin-top: 20px;
    padding-left: 0px;
}


textarea {
    width: 900px;
    height: 100px;
    background-color: #1e2125;
    border-radius: 15px 15px 15px 15px;
    color: white;
    font-size: 18px;
    font-family: "Gill Sans MT";
    outline: none;
    text-align: left;
    padding-left: 19px;
    scroll-padding-block: 0px;
    border: none;
    resize: none;
    margin-top: 40px;
    overflow-y: auto;
}

.submitButtonMain, .submitButtonDead{
    width: 130px;
    height: 40px;
    justify-content: center;
    background-color: #1e2125;
    border:rgba(0, 0, 0, 0.103);
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow:
            0 4px 6px rgba(110, 104, 104, 0.3),
            0 -4px 6px rgba(110, 104, 104, 0.3),
            4px 0 6px rgba(47, 45, 45, 0.3),
            -4px 0 6px rgba(47, 45, 45, 0.3);
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    left: 15px;
    bottom: 10px;
}


.submitButtonDead{
    color: black;
    background-color: white;
    font-style: italic;
}

.submitButtonMain::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 90%;
    left: -100%;
    top: 0;
    transition-duration: 0.3s;
    mix-blend-mode: difference;
}

.submitButtonMain:hover::before {
    transition-duration: 0.3s;
    transform: translate(100%, -50%);
    border-radius: 0;
}

.submitButtonMain:active {
    transform: translate(5px, 5px);
    transition-duration: 0.3s;
    content: "Submitted";
    font-style: italic;
}

.sidebar p {
    color: white;
    text-align: center;
    font-family: "Gill Sans MT";
}

#title {
    color: white;
    display: inline;
    margin: 0;
    font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Btn {
    width: 130px;
    height: 40px;
    justify-content: center;
    background-color: black;
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
}

#btn1 {
    margin-left: 60%;
}

.Btn::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: 0.3s;
    mix-blend-mode: difference;
}

.Btn:hover::before {
    transition-duration: 0.3s;
    transform: translate(100%, -50%);
    border-radius: 0;
}

.Btn:active {
    transform: translate(5px, 5px);
    transition-duration: 0.3s;
}


::selection {
    background-color: #e56478;
}