body {
    background-image: 'public\istockphoto-1645930993-612x612.jpg';
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

#day-icon {
    height: 40px;
    margin-top: 30px;
}

.head {
    display: flex;
}

#date-container {
    margin-top: 30px;
    font-size: xx-large;
    color: white;
    font-family: Helvetica,Arial, sans-serif;
    font-weight: bold;
}

img {
    width: auto 0;
    height: 15px;
    margin-right: 15px;
    margin-left: 35px;
}

.scroll-arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 24px;
}

/* Hide the arrow initially */
.hidden {
    display: none;
}

.container {
    align-items: center;
    /* Align items vertically centered */
    margin-left: 12px;
    margin-top: 25px;
    display: flex;
}

i {
    width: 16px;
    height: 24px;

    color: white;
    position: absolute;
}

.scroll-to-bottom{

    position: fixed;
    bottom: 2px;
    left: 50%;
    top: 90%;
    width: 40px;
    /* Adjust as needed */
    height: 40px;
    /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scroll-to-bottomm{
    position: fixed;
        bottom: 2px;
        left: 55%;
        top: 82%;
        width: 27px;
        /* Circle's width */
        height: 27px;
        /* Circle's height */
        /* Black background */

        /* Thin white border */
        border-radius: 50%;
        /* Make it a circle */
        display: flex;
        align-items: center;
        justify-content: center;
        /* Center the icon */
        cursor: pointer;
        transition: background-color 0.3s ease;

}
#gear {
    top: 15.5%;
    left: 24%;
    color: white;
}

#ChatIcon{

    left: 24%;
    top: 23.5%;

}

#HomeIcon{
    top: 7.5%;
    left: 24%;
}

#homeArrow{

    top: 140%;
    left: 200%;
}

.data_head{
    margin-left: 20px;
    color: #ffffff;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 550;
    position: relative;
    margin-top: 25px;
}
.scroll-bottom{
    position: fixed;
        bottom: 2px;
        left: 51.5%;
        top: 87%;
        width: 30px;
        /* Adjust as needed */
        height: 30px;
        /* Adjust as needed */
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s ease;

}

.plotS {
    border-radius: 20px;
    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 35px;
    margin-right: 130px;
    overflow: hidden;
    background-color: #050505;
}


.main_content {
    position: fixed;
    height: 86.3%;
    margin-left: 207px;
    width: 81.5%;
    border-radius: 15px 15px 15px 15px;
    background-color: #1e2125;
    margin-top: 20px;
    overflow-y: auto;
}


#infoButton{

    left: 36px;
    top: 43px;
    color:#696464;
}


.infoToolTip{
        background-color: rgb(47, 45, 45);
            width: 240px;
            height: 190px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transform: scale(0.8);
            transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
            font-size: 16px;
            color: black;
            margin-top: 6.3%;
            left: 25px;
            color: white;
            position: absolute;
            padding: 10px 10px 10px 10px;
            line-height: 1.2;
        }

#infoButton:hover {
            color: #cbc2c2;
            cursor: pointer;
        }

.chatHeading{

    margin-top: 7%;
    width: 600px;
    margin-left: 29%;
    position: absolute;
    text-align: right;
}
.card {
    display: flex;
    align-items: center;
    min-height: 250px;
    width: 400px;
    flex-direction: column;
    background: #1a1919;
    border-radius: 8px;
    margin-left: -650px;
    /* Start off-screen */
    margin-top: 100px;
    opacity: 0;
    /* Start invisible */
    transition: margin-left 1.8s ease-out, opacity 1.8s ease-out;
}

.card.show {
    /* Slide into view */
    opacity: 1;
    /* Fade in */
    margin-left: -650px;
}
.arbitrarystuff{
    text-align: right;
    font-family: sans-serif;
    background: linear-gradient(to right, #057ef0 22%, #FFFFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    position: relative;
}


.arbitrary{
    font-family: sans-serif;
        background: linear-gradient(to right, #057ef0 22%, #FFFFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        position: relative;
    align-items: center;
}

.chat_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding: 10px;
    background-color: #1e2125;
}


.user_input_bubble {
        max-width: 350px;
        /* Limit width to ensure readability */
        padding: 1px 20px 1px 20px;
        /* Add padding for a balanced look */
        background-color: #303132;
        /* Blue color similar to ChatGPT */
        color: white;
        /* White text color for contrast */
        border-radius: 23px;
        /* Round the corners for a bubble-like appearance */
        word-wrap: break-word;
        /* Break long words onto the next line */
        font-size: 15px;
        /* Adjust font size */
        margin-top: 0px;
        margin-bottom: 2.9%;
        /* Vertical spacing between messages */
        font-family: Helvetica,
            Arial,
            sans-serif;
        position: relative;
            /* Positioning relative to the parent */
        right: 133px;
            /* Align the element to the right */
        float: right;
        line-height: 1.3;

}

.response_bubble {
    align-self: flex-start;
    font-family: Helvetica,
        Arial,
        sans-serif;
    background-color: #1e2125;
    color: white;
    padding: 20px 1px 50px 20px;
    margin-left: 12%;
    display: block;
    margin-top: 60px;
    max-width: 450px;
    line-height: 1.3;
    margin-bottom: 0px;

}

#newIconState{
    margin-left: -3.6%;
    margin-top: 1.6%;
}

.input_container {
    display: flex;
    justify-content: center;
    padding: 10px;
}



#coverUp {
    position: fixed;
    width: 80%;
    background-color:#1e2125;
    height: 65px;
    top: 88%;

}
#chatinput {
    display: flex;
    align-items: center;
    width: 49%;
    top: 89%;
    left: 34.9%;
    margin-left: 1%;
    height: 42px;
    box-shadow:
        0 4px 6px rgba(110, 104, 104, 0.3),
        0 -4px 6px rgba(110, 104, 104, 0.3),
        4px 0 6px rgba(47, 45, 45, 0.3),
        -4px 0 6px rgba(47, 45, 45, 0.3);
    border-radius: 23px 23px 23px 23px;
    background-color: rgb(17, 16, 16);
    color: white;
    outline: none;
    border: none;
    resize: none;
    text-indent: 13px;
    font-size: 16px;
    position: fixed;
    padding-left: 10px;
    padding-right: 15px;

}

#chatinput:focus {
    border-color: #0084ff;
}

.version-selector-button {

    margin-left: 80px;
    display: flex;
        background-color: #1e2125;
        outline: none;
        border: none;
        color: white;
        padding-left: 0px;
        padding-right: 0px;
        position: sticky;
}


.versionI, .versionIcon{

    margin-top: 34px;
        background-color: rgb(39, 33, 33);
        display: flex;
        justify-content: center;
        /* Center horizontally */
        align-items: center;
        /* Center vertically */
        box-shadow:
            0 4px 6px rgba(110, 104, 104, 0.3),
            0 -4px 6px rgba(110, 104, 104, 0.3),
            4px 0 6px rgba(47, 45, 45, 0.3),
            -4px 0 6px rgba(47, 45, 45, 0.3);
}


#ttysArrow{
    left: 28%;
    top: 13%;
}

.versionI:hover, .versionIcon:hover{
background-color: rgb(17, 16, 16);

}
.dropdown-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 8px;
}

.dropdown-container.open {
    max-height: 200px;
    /* Adjust based on content height */
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.dropdown {
    background-color: rgb(39, 33, 33);
    border-radius: 8px;
    padding: 0;
    margin-left: 189px;
    list-style: none;
    opacity: 0;
    width: 130px;
    transform: translateY(-10px);
    transition: opacity 0.9s ease, transform 0.9s ease;
    font-size: 12px;
}

.dropdown-container.open .dropdown {
    opacity: 1;
    transform: translateY(0);
}



.arbit{

    margin-left: 87.7%;
    margin-top: 1.8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background: linear-gradient(to right, #7a38ac 22%, #FFFFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    margin-bottom: 20px;
}
.dropdown-item {
    padding: 10px 15px;
        color: white;
        font-size: 13px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        /* This aligns the icon to the right */
        align-items: center;
        /* This vertically centers the content */
    background-color: rgb(39, 35, 35);
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 130px;
    }

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.name {
    margin-right: 100px;
    /* Space between the name and the icon */
    color: pink;
    font-weight: 300;

    }
.versionI{
    width: 85px;
    height: 34px;
}

.versionIcon{
    width: 39px;
    height: 34px;
}
#milf{
    left: 70%;
    top: 5%;
}

#versionIconS{
    left: 76%;
    margin-top: 10px;

    color: rgb(183, 79, 111);
}

.sidebar {
    position: fixed;
    border-radius: 15px 15px 15px 15px;
    width: 200px;
    height: 86.3%;
    background-color: #1e2125;
    margin-top: 20px;
    padding-left: 0px;
}


textarea {
    width: 900px;
    height: 100px;
    background-color: #1e2125;
    border-radius: 15px 15px 15px 15px;
    color: white;
    font-size: 18px;
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    outline: none;
    text-align: left;
    padding-left: 19px;
    scroll-padding-block: 0px;
    border: none;
    resize: none;
    margin-top: 40px;
    overflow-y: auto;
}

.submitButtonMain, .submitButtonDead{
    width: 130px;
    height: 40px;
    justify-content: center;
    background-color: #1e2125;
    border:rgba(0, 0, 0, 0.103);
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow:
            0 4px 6px rgba(110, 104, 104, 0.3),
            0 -4px 6px rgba(110, 104, 104, 0.3),
            4px 0 6px rgba(47, 45, 45, 0.3),
            -4px 0 6px rgba(47, 45, 45, 0.3);
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    left: 15px;
    bottom: 10px;
}


.submitButtonDead{
    color: black;
    background-color: white;
    font-style: italic;
}

.submitButtonMain::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 90%;
    left: -100%;
    top: 0;
    transition-duration: 0.3s;
    mix-blend-mode: difference;
}

.submitButtonMain:hover::before {
    transition-duration: 0.3s;
    transform: translate(100%, -50%);
    border-radius: 0;
}

.submitButtonMain:active {
    transform: translate(5px, 5px);
    transition-duration: 0.3s;
    content: "Submitted";
    font-style: italic;
}

.sidebar p {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#title {
    color: white;
    display: inline;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.Btn {
    width: 130px;
    height: 40px;
    justify-content: center;
    background-color: black;
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
}

#btn1 {
    margin-left: 60%;
}

.Btn::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: 0.3s;
    mix-blend-mode: difference;
}

.Btn:hover::before {
    transition-duration: 0.3s;
    transform: translate(100%, -50%);
    border-radius: 0;
}

.Btn:active {
    transform: translate(5px, 5px);
    transition-duration: 0.3s;
}


::selection {
    background-color: #e56478;
}