


  /** Privacy Policy Start **/

.privacy-container {
  font-family: "DM Sans";
  background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5vw;
}

.privacy-header {
  text-align: center;
  margin-bottom: 20px;
}

.privacy-header h1 {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}

.privacy-content {
  line-height: 1.8;
  color: white;
}

.privacy-content h2 {
  font-size: 1.8rem;
  margin-top: 20px;
  color: white;
}

.privacy-content p {
  font-size: 1rem;
  margin-top: 10px;
  color: white;
}

.privacy-content a {
  color: #007BFF;
  text-decoration: none;
}

.privacy-content a:hover {
  text-decoration: underline;
}

